.product-policy__item {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: column;
	width: 80%;
	text-align: center;
	padding-top: 15px;
	padding-bottom: 15px;
}

.product-policy__icon {
	position: relative;
	width: 35px;
	height: 35px;
	margin-bottom: 10px;
}

.product-policy__icon img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	-o-object-fit: contain;
	object-fit: contain;
}

.product-policy__title p{
	font-size: 14px;
}
.product-policy__title span{
	font-weight: bold;
	color: #050505
}

.product-detail-price_wrapper {
	border-radius: 2px;
	width: 80%;
	height: 60px;
	align-items: center;
	padding-left: 15px;
	padding-right: 10px;
	line-height: 16px;
	display: flex;
	background: rgb(230, 94, 174);
	background: -moz-linear-gradient(270deg, rgba(230, 94, 174, 1) 0%, rgba(255, 79, 142, 1) 19%, rgba(255, 186, 132, 1) 100%);
	background: -webkit-linear-gradient(270deg, rgba(230, 94, 174, 1) 0%, rgba(255, 79, 142, 1) 19%, rgba(255, 186, 132, 1) 100%);
	background: linear-gradient(270deg, rgba(230, 94, 174, 1) 0%, rgba(255, 79, 142, 1) 19%, rgba(255, 186, 132, 1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#e65eae", endColorstr="#ffba84", GradientType=1);
}

.product-detail-price_wrapper p{
	margin-bottom: 0px;
}

.product-detail-price_wrapper .col-price-dt {
	text-align: left;
	width: 50%;
}

.product-detail-price_wrapper .prod_dt_price .price {
	font-size: 28px;
	color: #ffffff;
	font-weight: bold;
}
.product-detail-price_wrapper .col-price {
	font-size: 22px;
	font-weight: 500;
	color: #ffffff;
}
.product-detail-price_wrapper .price_old {
	color: #ffffff;
	display: block;
	font-size: 14px;
	font-weight: normal;
}

.nt-prepaid-installment {
	width: 50%;
	font-size: 14px;
	line-height: 1.2;
	color: #ffffff;
	font-weight: 500;
	position: relative;
}
.attribute_coupons  {
	border-radius: 2px;
	width: 77%;
	height: 60px;
	align-items: center;
	padding-left: 15px;
	padding-right: 10px;
	line-height: 16px;
	display: flex;
	background: #ffeef2;
	margin-top: 5px;
}

.coupons_left{
	width: 80%;
}

.attribute_coupons .coupons_left_title {
	font-size: 14px;
	font-weight: 700;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
}

.attribute_coupons .coupons_left_note {
	font-size: 12px;
}

.coupons_right_btn{
	font-size: 14px;
	font-weight: 400;
	background: #fe5f7e;
	padding: 6px;
	color: white;
	border-radius: 2px;
	cursor: pointer;
}
.attribute {
	margin-bottom: 15px;
}

.attribute_transport_fee {
	width: 77%;
	height: 60px;
	align-items: center;
	line-height: 16px;
	display: flex;
}

.transport_fee_left {
	width: 65%;
}

.transport_fee_right span{
	font-size: 14px;
	color: #ff214d;
}

.transport_fee_title{
	font-size: 14px;
	color: #0093ed;
	font-weight: 500;
	border: 1px solid #0093ed;
	padding: 2px;
	border-radius: 2px;
}
.transport_fee_left_note{
	margin: 0;
	padding-top: 13px;
	font-size: 14px;
}

.attribute_size .list-size a:hover{
	background-color: #f5657f !important;
}

.attribute_size .list-size a:hover{
	border-color: #f5657f !important;
}

.attribute_size .list-size a.active{
	border: 1px solid #f5657f !important;
	color: #f5657f;
	background:#ffffff !important
}
.consultation {
	padding-top: 12px;
}

.consultation span{
	font-size: 14px;
	font-weight: 600;
	cursor: pointer;
}

.add_to_cart_button{
	background-color: #ffffff;
	border: 1px solid #f5657f !important;
	color: #f5657f;
	border-radius: 2px;
	font-size: 14px !important;
	font-weight: 500;
	min-width: 120px !important;
	line-height: 16px;
	padding: 0px !important;
	height: 47px;
}
.group-button{
	margin-top: 30px;
}
.add_to_voucher_button {
	background-color: #f16380;
	border: 0px solid #f5657f !important;
	color: #ffffff;
	border-radius: 2px;
	font-size: 14px !important;
	font-weight: 500;
	min-width: 200px !important;
	line-height: 16px;
	padding: 0px !important;
	height: 47px;
}

.range-slider_wrapper{
	border: 1px solid #d7cece;
	padding: 8px;
	border-radius: 8px;
}

.range-slider-top{
	display: flex;
	text-align: center;
	justify-content: space-between;
	padding: 2px;
	font-weight: 500;
	font-size: 14px;
}

.range-slider__label{
	font-size: 14px;
	font-weight: 600;
}

.shop-test-product-reviews.shop-product-detail .container-wapper {
	padding: 0px 100px;
}

.shop-test-best-selling.product-screen-detail {
	position: relative;
}


.range-slider {
	width: 100%;
	padding-bottom: 15px;
}

/* The slider itself */
.slider {
	-webkit-appearance: none;
	/* Override default CSS styles */
	appearance: none;
	width: 100%;
	/* Full-width */
	height: 5px;
	border-radius: 10px;
	/* Specified height */
	background: #d3d3d3;
	/* Grey background */
	outline: none;
	/* Remove outline */
	opacity: 0.7;
	/* Set transparency (for mouse-over effects on hover) */
	-webkit-transition: .2s;
	/* 0.2 seconds transition on hover */
	transition: opacity .2s;
}

/* Mouse-over effects */
.slider:hover {
	opacity: 1;
	/* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
	appearance: none;
	width: 15px;
	height: 15px;
	background: #ffffff;
	cursor: pointer;
	border: 1px solid;
	border-radius: 20px;
}

.slider::-moz-range-thumb {
	width: 25px;
	/* Set a specific slider handle width */
	height: 25px;
	/* Slider handle height */
	background: #04AA6D;
	/* Green background */
	cursor: pointer;
	/* Cursor on hover */
}


.shop-test-product-reviews.shop-product-detail .container-wapper {
	padding: 0px 100px;
}

.shop-test-best-selling.product-screen-detail {
	position: relative;
}

.shop-test-best-selling.product-screen-detail .more-button-like {
	width: 264px;
	background: #00b8ff;
	color: #fff;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	bottom: -20px;
}


.shop-test-menu-clone-shopping-cart-wrap.open {
	right: 0px;
}

.shop-test-menu-clone-shopping-cart-wrap {
    position: fixed;
    top: 0;
    right: -320px;
    width: 320px;
    height: 100vh;
    background-color: #fff;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    z-index: 100000;
    -webkit-box-shadow: 3px 5px 14px -3px rgba(0, 0, 0, 0.11);
    -moz-box-shadow: 3px 5px 14px -3px rgba(0, 0, 0, 0.11);
    box-shadow: 3px 5px 14px -3px rgba(0, 0, 0, 0.11);
    color: #000;
}
.shop-test-menu-clone-shopping-cart-wrap.open {
    right: 0;
}


.shop-test-menu-clone-shopping-cart-wrap .toggle-submenu {
    display: none !important;
}
.shop-test-menu-clone-shopping-cart-wrap .shop-test-menu-panels {
    background: inherit;
    border-color: inherit;
    z-index: 0;
    box-sizing: border-box;
    overflow: hidden;
    height: calc(100% - 50px);
    position: relative;
}
.shop-test-menu-clone-shopping-cart-wrap .shop-test-menu-panel {
    background-color: #fff;
}
.shop-test-menu-clone-shopping-cart-wrap .shop-test-menu-panel.shop-test-menu-sub-panel {
    border-color: #fff;
    bottom: 0;
    box-sizing: border-box;
    display: block;
    left: 0;
    margin: 0;
    overflow-x: hidden;
    overflow-y: auto;
    position: absolute;
    right: 0;
    top: 0;
    transform: translateX(100%);
    transition: all 0.2s ease 0s;
    z-index: 0;
}
.shop-test-menu-clone-shopping-cart-wrap .shop-test-menu-panel.shop-test-menu-panel-opened {
    transform: translateX(0);
    z-index: 999;
}
.shop-test-menu-clone-shopping-cart-wrap .shop-test-menu-sub-opened {
    z-index: 1;
    opacity: 0;
    visibility: hidden;
}
.shop-test-menu-clone-shopping-cart-wrap .shop-test-menu-hidden {
    display: block !important;
    opacity: 0;
    visibility: hidden;
}
.shop-test-menu-clone-shopping-cart-wrap .submenu.mega-menu {
    padding: 20px;
    max-width: 100% !important;
    width: 100% !important;
}

.shop-test-menu-clone-shopping-cart-wrap .product-quantity {
	margin-left: 0 !important;
	width: 70px !important;
}
.shop-test-menu-clone-shopping-cart-wrap .product-quantity .quantity {
	width: 70px !important;
}
.shop-test-menu-clone-shopping-cart-wrap .product-quantity .quantity .control {
	display: flex;
	align-items: center;
	justify-content: center;
}
.shop-test-menu-clone-shopping-cart-wrap .control-cart {
	padding: 0px 20px;
	gap: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.shop-test-menu-clone-shopping-cart-wrap .control-cart button {
	width: 100% !important;
	margin-left: 0 !important;
}

.shop-test-menu-clone-shopping-cart-wrap .btn-continue-shopping {
	background: red !important;
	color: #fff !important;
}
@media (min-width: 1024px) {
	.shop-test-menu-clone-shopping-cart-wrap {
		width: 500px;
		right:-500px
	}
}


@media (max-width: 768px) {
	.shop-test-menu-clone-shopping-cart-wrap {
		width: 500px;
		right:-500px
	}
}